.project-container-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.projects-container-title {
    margin-bottom: 1rem;
}

.projects-container-description {
    margin-bottom: 0.8rem;
}

@media only screen and (max-width: 300px) {
}
