.projects-container-title {
	font-size: $fsize-large;
	margin-bottom: $rem-l;
}

.projects-container-description {
	padding: $rem-s 0;
    border-top: 2px solid $color-first-dark;
}

.project-container-cards {
	display: flex;
	flex-flow: column;
	align-items: center;
}

@media only screen and (max-width: 300px) {
}
