.projects-container-title {
	font-size: $fsize-large;
	padding-bottom: $rem-l;
	// border-bottom: 2px solid $color-first-dark;
}

.projects-container-description {
	font-size: $fsize-xsmall;
	padding: $rem-s 20% 0 0;
	border-bottom: 2px solid $color-first;
}

.project-container-cards {
	display: flex;
	flex-flow: column;
	align-items: center;
}

@media only screen and (max-width: 300px) {
}
