.projects-container-title {
	text-align: center;
	font-size: $fsize-large;
	margin-bottom: 5rem;
}

.projects-container-description {
	font-size: $fsize-xsmall;
	padding-bottom: 5rem;
	border-bottom: 2px solid $color-first;
	max-width: 60ch;
	margin: 0 auto ;
}

.project-container-cards {
	display: flex;
	flex-flow: column;
	align-items: center;
}

@media only screen and (max-width: 800px) {
	.projects-container-description {
		padding: 0.4rem 10% 0 0;
	}
}
