.project-card {
	color: $color-third;
	border-bottom: 2px solid $color-first;
	padding: 5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	h3 {
		font-size: $fsize-medium;
		font-weight: 400;
		text-align: center;
		margin: 0 auto $rem-xl;
	}
	.preview-link-wrap {
		margin-bottom: 1.4rem;
		position: relative;
		width: 115%;

		img.project-preview {
			width: 100%;
			border-radius: 0 25px 25px 25px;
			box-shadow: 7px 6px $color-second-transparent;
			display: block;
			transition: opacity ease-out 250ms;

		}

		img.preview-hover {
			filter: brightness(0.6) blur(1px);
		}
	}

	.project-card-links {
		width: 220px;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		a.card-link {
			padding: $rem-ms $rem-l $rem-s $rem-ms;
			background: $color-first-light;
			border-radius: 0 10px 10px 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			transition-duration: 0.5s;

			.link-icon {
				@include icon-tiny;
				margin: 0 $rem-xs;
			}
			.link-text {
				color: $color-third;
				font-size: $rem-m;
			}
			&:hover {
				.link-text {
					color: $color-first-light;
				}
				background-color: $color-second-light;
			}
		}

		a.card-link.preview-hover{
			background-color: $color-second-light;
		}
	}

	p {
		text-align: justify;
		padding: 0 15%;
		max-width: 700px;
		margin-bottom: 1.5rem;
	}
	div.tech-stack {
		padding: $rem-l;
		border-radius: 0 15px 15px 15px;
		background: rgba(200, 200, 200, 0.2);
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		h5 {
			font-size: $fsize-small;
			font-weight: 700;
			margin-right: $rem-m;
		}
		img {
			height: $rem-xl;
			padding: 0 $rem-m;
		}
	}
}

@media only screen and (max-width: 800px) {
	.project-card {
		.preview-link-wrap {
			width: 100%;
		}
		p {
			padding: 0 5%;
			margin-bottom: 2rem;
		}
		div.tech-stack {
			flex-wrap: wrap;
			img {
				margin: 0.4rem 0;
			}
		}
	}
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
	.project-card {
		.preview-link-wrap {
			width: 100%;
		}
	}
}
