.project-card {
	color: var(--color-first-light);
	padding: 1rem;
	background-color: var(--color-third);
	border-radius: 0.5rem;
	box-shadow: 5px 5px 5px var(--color-third);
	margin-bottom: 20px;
	flex: 0 1 1fr;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	h3 {
		text-align: center;
		margin: 0 auto 15px;
	}
	img {
		width: 100%;
		box-shadow: 5px 3px 5px rgba(20, 20, 20, 0.9);
		border: 2px solid white;
		margin-bottom: 20px;
	}
	p {
		text-align: justify;
	}
	ul {
		columns: 3;
		width: 90%;
	}
}

@media only screen and (max-width: 800px) {
	.project-card ul {
		columns: 2;
		width: 100%;
	}
}

@media only screen and (min-width: 1200px) {
	.project-card {
        width: 45%;
        margin: 2%;
	}
}
