.project-card {
	color: $color-third;
	border-bottom: 2px solid $color-first;
	padding: 5rem 0;
	// flex: 0 1 1fr;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	h3 {
		font-size: $fsize-medium;
		font-weight: 400;
		text-align: center;
		margin: 0 auto $rem-l;
	}
	.preview-link-wrap {
		margin-bottom: $rem-xl;
		position: relative;

		img.project-preview {
			width: 100%;
			max-width: 500px;
			border-radius: 0 25px 25px 25px;
			box-shadow: 7px 6px $color-second-transparent;
			display: block;
			transition: opacity ease-out 250ms;

			// this after effect worked great when used toggled by a css hover
			// however, triggering this effect with toggling a class seems to not work properly
			// &::after {
			// 	content: 'GO TO WEBSITE';
			// 	font-size: $fsize-xsmall;
			// 	color: white;
			// 	text-shadow: 2px 2px 2px black;
			// 	position: absolute;
			// 	@include position-16-9-center(50%);
			// 	transition: transform ease-out 250ms;
			// 	transform: scale(1,1);
			// 	border: 1px solid white;
			// 	border-radius: 50%;
			// 	display: flex;
			// 	align-items: center;
			// 	justify-content: center;
			// }
			// &:hover {
			// 	img {
			// 		opacity: 0.8;
			// 	}
			// 	&::after {
			// 		transform: scale(1, 1);
			// 	}
			// }
		}

		img.preview-hover {
			filter: brightness(0.6) blur(1px);
			// &::after {
			// 	transform: scale(1, 1);
			// }
		}
	}

	.project-card-links {
		width: 220px;
		margin-bottom: $rem-l;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		a.card-link {
			padding: $rem-ms $rem-l $rem-s $rem-ms;
			background: $color-first-light;
			border-radius: 0 10px 10px 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			transition-duration: 0.5s;

			.link-icon {
				@include icon-tiny;
				margin: 0 $rem-xs;
			}
			.link-text {
				color: $color-third;
				font-size: $rem-m;
			}
			&:hover {
				.link-text {
					color: $color-first-light;
				}
				background-color: $color-second-light;
			}
		}

		a.card-link.preview-hover{
			background-color: $color-second-light;
		}
	}

	p {
		text-align: justify;
		padding: 0 15%;
		max-width: 700px;
	}
	div.tech-stack {
		padding: $rem-l;
		border-radius: 0 15px 15px 15px;
		background: rgba(200, 200, 200, 0.2);
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		h5 {
			font-size: $fsize-small;
			font-weight: 700;
			margin-right: $rem-m;
		}
		img {
			height: $rem-xl;
			padding: 0 $rem-m;
		}
	}
}

@media only screen and (max-width: 800px) {
	.project-card {
		p {
			padding: 0 5%;
			margin-bottom: 2rem;
		}
		div.tech-stack {
			flex-wrap: wrap;
			img {
				margin: 0.4rem 0;
			}
		}
	}
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
	// .project-card {
	// 	width: 80%;
	// 	margin: 2%;
	// }
}
