.project-card {
	color: #d8e3e8;
	padding: 1rem;
	background-color: #2e1f47;
	border-radius: 0.5rem;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.project-card h3 {
	text-align: center;
	margin-bottom: 15px;
}

.project-card img {
	width: 100%;
	box-shadow: 5px 3px 5px rgba(20, 20, 20, 0.9);
	border: 2px solid white;
	margin-bottom: 20px;
}

.project-card p {
	text-align: justify;
}

.project-card ul {
	columns: 3;
	width: 90%;
}

.project-card ul li {
}

.project-card ul li a {
}

@media only screen and (max-width: 800px) {
	.project-card h3 {
		text-align: center;
		margin-bottom: 15px;
	}
}

@media only screen and (min-width: 1200px) {
	.project-card {
        width: 45%;
        margin: 2%;
	}
}
