.section-link-inside {
	background-color: $color-first-dark;
	padding-left: .5rem;
	grid-column-start: 16;
	grid-column-end: 17;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.link-inside {
	color: $color-third;
	font-weight: 600;
	padding: 1rem 0.3rem 1rem 0.5rem;
	border: 3px solid $color-third;
	border-radius: 0px 0.7rem 0.7rem 0.7rem;
	background-color: $color-first-light;
	font-size: $fsize-small;
	text-decoration: none;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	margin: 0.5rem 0;
	transition-duration: 0.5s;
	&:hover {
		background-color: $color-second-light;
	}
}

@media only screen and (max-width: 300px) {
	.section-link-inside {
		padding: 0.2rem 0 0.2rem;
		grid-column-start: 1;
		grid-column-end: 17;
		grid-row-start: 2;
		grid-row-end: 3;
		flex-direction: row;
		align-items: center;
	}

	.link-inside {
		font-size: $fsize-xsmall;
		writing-mode: horizontal-tb;
		text-orientation: mixed;
		padding: 0.15rem 0.3rem 0.22rem;
		border: 1.5px solid $color-third;
		margin: 0 0.1rem;
	}
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
	.section-link-inside {
		padding: 0.2rem 0 0.2rem;
		grid-column-start: 1;
		grid-column-end: 17;
		grid-row-start: 2;
		grid-row-end: 3;
		flex-direction: row;
		align-items: center;
	}

	.link-inside {
		font-size: $fsize-xsmall;
		writing-mode: horizontal-tb;
		text-orientation: mixed;
		padding: 0.3rem 1rem 0.3rem;
		margin: 0 0.25rem;
	}
}

@media only screen and (min-width: 1200px) {
	.section-link-inside {
		padding-left: 1rem;
		grid-column-start: 15;
		grid-column-end: 17;
	}

	.link-inside {
		font-size: $fsize-small;
		margin: 0.7rem 0;
	}
}
