.modal-landing {
	color: $color-first;
	background: #000000ee;
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.landing-warning {
		display: none;
		font-size: $fsize-medium;
		text-align: center;
		max-width: 50vw;
		margin-bottom: $rem-l;
	}
	.landing-title {
		font-size: $fsize-huge;
		margin-bottom: $rem-xl;
	}
	.landing-text {
		font-size: $fsize-medium;
		max-width: 50ch;
		text-align: center;
		margin-bottom: $rem-huge;
	}
	h5 {
		font-size: $fsize-small;
		padding: $rem-m $rem-l;
		border: 1px solid $color-first;
		border-radius: 0 10px 10px 10px;
	}
}

@media only screen and (max-width: 800px) {
	.modal-landing {
		position: fixed;
		top: 0;
		.landing-warning {
			display: block;
			font-size: 1.6rem;
			max-width: 70vw;
		}
		.landing-text {
			font-size: 1rem;
			max-width: 85vw;
		}
		h5 {
			font-size: 1.2rem;
			padding: 0.4rem 0.8rem;
		}
	}
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
	.modal-landing {
		.landing-warning {
			display: block;
			max-width: 70vw;
		}
		.landing-text {
			max-width: 40ch;
		}
	}
}
