@mixin position($top, $right: $top, $bottom: $top, $left: $right) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin position-16-9-center($objSize) {
	$sizeAsPartsOfNine: $objSize / 100 * 9;
	$vertDist: (9 - $sizeAsPartsOfNine) / 2 / 9 * 100;
	$horizDist: (16 - $sizeAsPartsOfNine) / 2 / 16 * 100;
	top: $vertDist;
	bottom: $vertDist;
	left: $horizDist;
	right: $horizDist;
}

@mixin media-xl{
	@media only screen and (min-width: 1800px) {
		@content;
	}
}


@mixin icon-tiny {
	width: 16px;
	height: 16px;
}
@mixin icon-s {
	width: 24px;
	height: 24px;
}
@mixin icon-ms {
	width: 30px;
	height: 30px;
}
@mixin icon-m {
	width: 36px;
	height: 36px;
}
@mixin icon-ml {
	width: 42px;
	height: 42px;
}
@mixin icon-xl {
	width: 48px;
	height: 48px;
}
@mixin icon-xxl {
	width: 60px;
	height: 60px;
}

$rem-tiny: 0.1rem;
$rem-xs: 0.2rem;
$rem-s: 0.4rem;
$rem-ms: 0.6rem;
$rem-m: 0.8rem;
$rem-ml: 1rem;
$rem-l: 1.2rem;
$rem-xl: 2rem;
$rem-xl: 2.4rem;
$rem-huge: 3rem;

// $color-first-light: #D8E3E8;
// $color-first:#959BBA;
// $color-first-dark:#52528C;
// $color-first-dark-transparent: #52528C44;
// $color-second-light:#EBC747;
// $color-second:#e7bc23;
// $color-second-transparent: #e7bc2322;
// $color-third:#2E1F47;
// $color-third-dark: #261E34;
// $gradient-primary: linear-gradient(45deg, rgba(231,188,35,1) 0%, rgba(46,31,71,1) 100%);

$color-first-light: #DBEDE1;
$color-first-light-transparent: #DBEDE122;
$color-first:#99CACD;
$color-first-dark:#5498AF;
$color-first-dark-transparent: #5498AF44;
$color-second-light:#F3575A;
$color-second:#F33337;
$color-second-dark: #990A0C;
$color-second-transparent: #F3333722;
$color-third:#2D3D6A;
$color-third-dark: #2B385A;
$color-third-dark-op66: #2B385A66;
$gradient-primary: linear-gradient(45deg, #F33337 0%, #5498AF 100%);
$gradient-secondary: linear-gradient(45deg, #F33337 0%, #2D3D6A 100%);


$fsize-huge: 3.4rem;
$fsize-xlarge: 3rem;
$fsize-large: 2.6rem;
$fsize-medlarge: 2.3rem;
$fsize-medium: 2rem;
$fsize-medsmall: 1.7rem;
$fsize-small: 1.4rem;
$fsize-xsmall: 1rem;
$fsize-xxsmall: 0.8rem;
$fsize-tiny: 0.6rem;