:root {
    --color-first-light: #D8E3E8;
    --color-first:#959BBA;
    --color-first-dark:#52528C;
    --color-second-light:#EBC747;
    --color-second:#e7bc23;
    --color-third:#2E1F47;
    --fsize-huge: 3.4rem;
    --fsize-xlarge: 3rem;
    --fsize-large: 2.6rem;
    --fsize-medium: 2rem;
    --fsize-small: 1.4rem;
    --fsize-xsmall: 1rem;
    --fsize-tiny: 0.6rem;
}

// var(--color-first-light)
// var(--color-first)
// var(--color-first-dark)
// var(--color-second-light)
// var(--color-second)
// var(--color-third)

// var(--fsize-small)
// var(--fsize-medium)
// var(--fsize-large)
// var(--fsize-xlarge) 