.link-outside {
	color: black;
	text-decoration: none;
	background-color: blanchedalmond;
	margin: 0.5rem 0;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.link-outside:hover {
	color: brown;
}

.link-outside h5 {
	font-size: 1.4rem;
}

.link-outside img {
    width: 3rem;
    height: 3rem;
}

.link-outside img:hover {
    width: 3rem;
    height: 3rem;
}


@media only screen and (max-width: 800px) {
    .link-outside {
        margin: 0 0.5rem;
    }

	.link-outside h5 {
		display: none;
	}
}

@media only screen and (min-width: 1200px) {
	.link-outside {
		flex-direction: row;
		align-items: center;
	}

	.link-outside h5 {
		font-size: 2rem;
		padding-right: 1rem;
	}
}
