.sidebar-left {
	position: relative;
	background-color: $color-third-dark;
	margin: 2vh 1vw;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	height: 82vh;
	width: 16vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .sidebar-left {
		width: 16vw;
		align-items: center;
	}
}

@media only screen and (max-width: 800px) {
	.sidebar-left {
		// background-color: $color-second-light;
		// border-top: solid $color-third 1px;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		height: unset;
		width: unset;
		margin: 0;
		flex-direction: row;
		align-items: center;
	}
}

@include media-xl{
	.sidebar-left {
		padding-left: 20px;
	}
}