.section-link-outside {
	position: relative;
	background-color: $color-third;
	padding-right: $rem-m;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	height: 84vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 800px) {
	.section-link-outside {
		background-color: $color-second-light;
		border-top: solid $color-third 1px;
		grid-column-start: 1;
		grid-column-end: 17;
		grid-row-start: 4;
		grid-row-end: 5;
		flex-direction: row;
	}
}

@media only screen and (min-width: 1200px) {
    .section-link-outside {
		grid-column-start: 1;
		grid-column-end: 5;
		align-items: flex-end;
	}
}