html {
	font-size: 16px;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: 5rem auto 3rem;
}

.section-header {
	color: #2E1F47;
	text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.4);
	background: linear-gradient(90deg, #EBC747, #E7BC23 50%, #EBC747);
	background-color: #E7BC23;
	padding: 1.3rem;
	border-bottom: solid #2E1F47 1px;
	grid-column-start: 1;
	grid-column-end: 17;
}

.section-header h2 {
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 2rem;

}

.section-footer {
	text-align: center;
	padding-top: 1rem;
	background-color: #EBC747;
	border-top: solid #2E1F47 1px;
	grid-column-start: 1;
	grid-column-end: 17;
}

@media only screen and (max-width: 800px) {
	.grid-container {
		grid-template-rows: 4rem 3rem auto 3rem 2rem;
	}
	.section-header {
		background-color: #52528C;
		padding: 1.3rem;
	}

	.section-header h2 {
		font-size: 1.4rem;
		text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
	}

	.section-footer {
		background-color: #2E1F47;
		padding-top: 0.1rem;
	}
}

@media only screen and (min-width: 1200px) {
	.grid-container {
		grid-template-rows: 6rem auto 3rem;
	}

	.section-header {
		padding: 1.5rem 0 1rem;
	}
	.section-header h2 {
		font-size: 3rem;
	}
}
