html {
	font-size: 16px;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: 5rem auto 3rem;
}

.section-header {
	padding-bottom: 1rem;
	background-color: #E7BC23;
	border-bottom: solid #2E1F47 1px;
	grid-column-start: 1;
	grid-column-end: 17;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.section-footer {
	text-align: center;
	padding-top: 1rem;
	background-color: #EBC747;
	border-top: solid #2E1F47 1px;
	grid-column-start: 1;
	grid-column-end: 17;
}

@media only screen and (max-width: 800px) {
	.grid-container {
		grid-template-rows: 4rem 3rem auto 3rem 2rem;
	}
	.section-header {
		background-color: #52528C;
		padding-bottom: 0.3rem;
	}

	.section-header h2 {
		font-size: 1.4rem;
		text-align: center;
	}

	.section-footer {
		background-color: #2E1F47;
		padding-top: 0.1rem;
	}
}

@media only screen and (min-width: 1200px) {

	.section-header {
		padding-bottom: 0.5rem;
	}
	.section-header h2 {
		font-size: 2.4rem;
	}
}
