html {
	font-size: 16px;
	position: relative;
	box-sizing: border-box;
}

*, body {
	padding: 0;
	margin: 0;
}

a {
	cursor: url(/assets/pointer-v01.png) 1 1, auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: 12vh 84vh 4vh;
}

.section-footer {
	text-align: center;
	padding-top: 1rem;
	background-color: $color-second-light;
	border-top: solid $color-third 1px;
	grid-column-start: 1;
	grid-column-end: 17;
	grid-row-start: 3;
	grid-row-end: 4;
	height: 4vh;
}

@media only screen and (max-width: 300px) {
	.grid-container {
		grid-template-rows: 4rem 3rem auto 3rem 2rem;
	}
	.section-header {
		background-color: #52528C;
		padding: 1.3rem;
		h2 {
			font-size: $fsize-small;
		}

	}

	.section-footer {
		background-color: $color-third;
		padding-top: 0.1rem;
	}
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
	.grid-container {
		grid-template-rows: 4rem 3rem auto 3rem 2rem;
	}

	.section-footer {
		background-color: $color-third;
		padding-top: 0.1rem;
	}
}

@media only screen and (min-width: 1200px) {
	// .grid-container {
	// 	grid-template-rows: 6rem auto 3rem;
	// }
}
