html {
	font-size: 16px;
	box-sizing: border-box;
}

*, body {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: 5rem auto 3rem;
}

.section-header {
	color: var(--color-third);
	background: linear-gradient(90deg, var(--color-second-light), var(--color-second) 50%, var(--color-second-light));
	background-color: var(--color-second);
	padding: 1.3rem;
	border-bottom: solid var(--color-third) 1px;
	grid-column-start: 1;
	grid-column-end: 17;
}

.section-header h2 {
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: var(--fsize-medium);
}

.section-footer {
	text-align: center;
	padding-top: 1rem;
	background-color: var(--color-second-light);
	border-top: solid var(--color-third) 1px;
	grid-column-start: 1;
	grid-column-end: 17;
}

@media only screen and (max-width: 300px) {
	.grid-container {
		grid-template-rows: 4rem 3rem auto 3rem 2rem;
	}
	.section-header {
		background-color: #52528C;
		padding: 1.3rem;
		h2 {
			font-size: var(--fsize-small);
		}

	}

	.section-footer {
		background-color: var(--color-third);
		padding-top: 0.1rem;
	}
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
	.grid-container {
		grid-template-rows: 4rem 3rem auto 3rem 2rem;
	}
	.section-header {
		background-color: #52528C;
		padding: 1.3rem;
		h2 {
			font-size: var(--fsize-small);
			text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
		}
	}


	.section-footer {
		background-color: var(--color-third);
		padding-top: 0.1rem;
	}
}

@media only screen and (min-width: 1200px) {
	.grid-container {
		grid-template-rows: 6rem auto 3rem;
	}

	.section-header {
		padding: 1.5rem 0 1rem;
		h2 {
			font-size: var(--fsize-xlarge);
		}
	}
}
