html {
	font-size: 16px;
	
}

*, body {
	padding: 0;
	margin: 0;
	position: relative;
	box-sizing: border-box;
}

a {
	// cursor: url(/assets/pointer-v01.png) 1 1, auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: 18vw 70vw 12vw;
	grid-template-rows: 10vh 86vh 4vh;
}

@media only screen and (max-width: 300px) {
	.grid-container {
		grid-template-rows: 4rem 3rem auto 3rem 2rem;
	}

	.section-footer {
		background-color: $color-third;
		padding-top: 0.1rem;
	}
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
	.grid-container {
		grid-template-rows: 4rem 3rem auto 3rem 2rem;
	}

	.section-footer {
		background-color: $color-third;
		padding-top: 0.1rem;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {

}
