.about-container {
	padding: 5% 8%;
	margin-bottom: $rem-huge;

	h3.about-title {
		text-align: center;
		width: 100%;
		font-size: $fsize-medium;
		margin-bottom: $rem-huge;
	}
	img.valentin {
		float: left;
		width: 30%;
		box-shadow: 5px 5px $color-second-transparent;
		margin: 0 $rem-xl $rem-xl 0;
	}

	.contact {
		h3 {
			text-align: center;
			width: 100%;
			font-size: $fsize-small;
			margin-top: 4rem;
			margin-bottom: $rem-l;
		}
		p {
			max-width: 400px;
			font-size: $fsize-xsmall;
			text-align: center;
			margin: 0 auto $rem-xl;
		}

		input,
		textarea {
			border-color: $color-third !important;
		}
	}

	div.input {
		margin: $rem-m;
	}

	.send-btn {
		float: right;
	}
}

@media only screen and (max-width: 800px) {
	.about-container {
		padding: 0 5%;
		img.valentin {
			width: 80%;
			float: unset;
			margin: 0 10% 2.4rem;
		}
		p {
			text-indent: 1.4rem;
			text-align: justify;
		}
	}
}

@include media-xl {
	.about-container {
		.contact {
			h3 {
				margin-top: 10rem;
			}
		}
	}
}
