.header-container {
	background: linear-gradient(-45deg, $color-first, $color-second);
	background-color: $color-second;
	background-size: 100% 500%;
	background-repeat: no-repeat;
	animation: river 5s ease-in-out alternate infinite;
	padding: 1.3rem;
	border-bottom: solid $color-third 1px;
	grid-column-start: 1;
	grid-column-end: 17;
	grid-row-start: 1;
	grid-row-end: 2;
	height: 12vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	img{
		height: 100%;
		width: auto;
		margin-right: $rem-m;
	}

	h2 {
		color: $color-third;
		font-family: 'Noto Sans', sans-serif;
		font-weight: 500;
		font-size: $fsize-medium;
		line-height: 100%;
	}
}

@keyframes river {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 0% 100%;
	}
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
	.section-header {
		background-color: #52528C;
		padding: 1.3rem;
		h2 {
			font-size: $fsize-small;
			text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
		}
	}
}

@media only screen and (min-width: 1200px) {
	.section-header {
		padding: 1.5rem 0 1rem;
		h2 {
			font-size: $fsize-xlarge;
		}
	}
}