.header-container {
	background: linear-gradient(-45deg, $color-first, $color-second);
	background-color: $color-second;
	background-size: 100% 500%;
	background-repeat: no-repeat;
	animation: river 5s ease-in-out alternate infinite;
	padding: 1.3rem;
	border-bottom: solid $color-third 1px;
	grid-column-start: 1;
	grid-column-end: 17;
	display: flex;
	flex-direction: row;
	align-items: center;
	img{
		height: 100%;
		width: auto;
		margin-right: $rem-m;
	}

	h2 {
		color: $color-third;
		font-family: 'Noto Sans', sans-serif;
		font-weight: 500;
		font-size: $fsize-medium;
		line-height: 100%;
	}
}

@keyframes river {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 0% 100%;
	}
}
