.nav-bar {
	padding-left: $rem-s;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	.nav-link {
		color: $color-first-light;
		font-family: 'Noto Sans', sans-serif;
		font-weight: 300;
		font-size: $fsize-small;
		text-decoration: none;
        padding: $rem-s $rem-ml $rem-ms;
        border-radius: 0 $rem-l $rem-l $rem-l;
		margin: 0 $rem-s;
		transition-duration: 0.5s;
		&:hover {
			color: $color-first;
			background-color: $color-first-light-transparent;
		}
	}
}
