.link-outside {
	margin: $rem-s;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	h5 {
		color: $color-first-light;
		text-decoration: none;
		font-family: 'Noto Sans', sans-serif;
		font-size: $fsize-small;
		font-weight: 300;
		transition-duration: 0.5s;
	}
	img {
		width: 32px;
		height: 32px;
		margin: 0 $rem-s;
		transition-duration: 0.5s;
	}
	&:hover {
		h5 {
			font-size: $fsize-medsmall;
		}
		img {
			@include icon-m;
		}
	}
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
	.link-outside {
		flex-direction: column-reverse;
		align-items: center;
	}
}

@media only screen and (max-width: 800px) {
	.link-outside {
		h5 {
			display: none;
		}
	}
}


