.link-outside {
	margin: $rem-s;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	h5 {
		color: $color-first-light;
		text-decoration: none;
		font-family: 'Noto Sans', sans-serif;
		font-size: $fsize-small;
		font-weight: 300;
		transition-duration: 0.5s;
	}
	img {
		@include icon-m;
		margin: 0 $rem-s;
		transition-duration: 0.5s;
	}
	&:hover {
		border-left: 2px solid $color-second;
		h5 {
			font-size: $fsize-medsmall;
		}
		img {
			@include icon-ml;
		}
	}
}

@media only screen and (max-width: 800px) {
	.link-outside {
		margin: 0.2rem 0.5rem;
		h5 {
			display: none;
		}
		img {
			@include icon-m;
		}
	}
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
	.link-outside {
		padding: $rem-s $rem-l;
		margin: unset;
		flex-direction: row;
		align-items: center;
		h5 {
			font-size: $fsize-medium;
			padding-right: 1rem;
			transition-duration: 0.5s;
		}
		img {
			transition-duration: 0.5s;
		}
	}
}
