.link-outside {
	margin: 0.5rem 0;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	h5 {
		color: $color-first-light;
		text-decoration: none;
		font-family: 'Noto Sans', sans-serif;
		font-size: $fsize-small;
		font-weight: 300;
	}
	img {
		@include icon-large;
	}
}

@media only screen and (max-width: 800px) {
	.link-outside {
		margin: 0.2rem 0.5rem;
		h5 {
			display: none;
		}
		img {
			@include icon-medium;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.link-outside {
		padding: $rem-s $rem-l;
		margin: unset;
		flex-direction: row;
		align-items: center;
		h5 {
			font-size: $fsize-medium;
			padding-right: 1rem;
			transition-duration: 0.5s;
		}
		img {
			transition-duration: 0.5s;
		}
		&:hover {
			border-right: 2px solid $color-first-dark;
			h5 {
				font-size: $fsize-medlarge;
			}
			img {
				@include icon-xlarge;
			}
		}
	}


}
