.footer {
	background-color: $color-second-light-op99;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	height: 4vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	h4 {
		font-size: $fsize-xxsmall;
	}
}

// @media only screen and (min-width: 800px) and (max-width: 1200px) {}

@media only screen and (max-width: 800px) {
	.footer {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 4;
		grid-row-end: 5;
		height: unset;
		width: unset;
	}
}
