.section-main {
	color: $color-third;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	height: 86vh;
	width: 82vw;
	display: flex;
	flex-direction: column;
	overflow: auto;
	position: relative;
}

// routing animation classes
.page, .page-reverse {
	position: relative;
	padding: 6% 10%;
	width: 67vw;
	min-height: 100%;
}

.page-enter {
	position: absolute;
	transform: translateX(-300vw);
}

.page-enter-active {
	position: relative;
	transform: translateX(0);
	transition: transform 1700ms;
}

.page-exit {
	position: absolute;
	transform: translateX(0);
}

.page-exit-active {
	position: absolute;
	transform: translateX(300vw);
	transition: transform 1700ms;
}

.page-reverse-enter {
	position: absolute;
	transform: translateX(300vw);
}

.page-reverse-enter-active {
	position: relative;
	transform: translateX(0);
	transition: transform 1700ms;
}

.page-reverse-exit {
	position: absolute;
	transform: translateX(0);
}

.page-reverse-exit-active {
	position: absolute;
	transform: translateX(-300vw);
	transition: transform 1700ms;
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
	.section-main {
		width: 84vw;
		grid-column-end: 3;
	}

	.page {
		width: 80vw;
	}
}

@media only screen and (max-width: 800px) {
	.section-main {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
		height: unset;
		width: 100vw;
		overflow: unset;

		// hide scrollbar
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
	}

	.page {
		width: 100vw;
		padding: 10% 5%;
	}
}
