.sidebar-right {
	position: fixed;
	right: 0;
	padding: 1.5rem;
	background-color: $color-third-dark-op66;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	height: 86vh;
	width: 12vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	.route-link-list {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		.link-list-title {
			color: $color-third-dark;
			font-size: $fsize-xsmall;
			width: 100%;
			margin-bottom: $rem-m;
		}

		a.link-project {
			color: $color-third-dark;
			font-size: $fsize-xsmall;
			font-weight: 400;
			white-space: nowrap;
			text-overflow: ellipsis;
			padding: $rem-s 0;
			width: 100%;
			overflow: hidden;
			&:hover {
				background: $color-first-light-transparent;
			}
		}
		.link-project + .link-project {
			border-top: 1px dashed $color-first;
		}
	}

	.route-text-desc {
		color: $color-second;
		padding: $rem-m 0;
		font-size: $fsize-xsmall;
		font-weight: 700;
	}
}
@media only screen and (min-width: 1200px) {
	.sidebar-right {
		top: 10vh;
		height: 82vh;
		margin: 2vh 2vw 2vh 0;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
	.sidebar-right {
		display: none;
		width: 2vw;
		padding: 0;
		.route-link-list {
			display: none;
		}
	}
}

@media only screen and (max-width: 800px) {
	.sidebar-right {
		display: none;
	}
}